# Node
node_modules/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
*.swp
*.swo

# Firebase local
.firebase/
firebase-debug.log

# Backups locales antiguos
**/storage/
**/data/

# Plantilla vacía
assets/subjects/plantilla-materia/
